node_modules/
dist*/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
PROJECT_PROMPT.txt
src/renderer/bundle.js
/bundle.js
/index.html
/tmp_asar/
/Lighting Texture Previewer.exe
/release/*
!/release/README.md
